.btn-facebook {
  color: #fff;
  background-color: #4267B2;
  border-color: #4267B2;
}

.btn-facebook:hover {
  color: #fff;
}

.btn-icon {
  padding: 0.75rem;
}

.center-hv {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.divider::after,
.divider::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #000;
}
