@import './variables';
@import "~bootstrap/scss/bootstrap";
@import './bootswatch';

.btn-facebook {
  color: #fff;
  background-color: #4267B2;
  border-color: #4267B2;
}

.btn-facebook:hover {
  color: #fff;
  opacity: 0.9;
  transition: all 0.3s ease;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  width: 2.8125rem;
  height: 2.8125rem;
}

.center-hv {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.divider::after,
.divider::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #000;
}

hr {
  margin: 0;
}

.pages-content {
  padding-top: 76px;

  .vp-page {
    height: calc(100vh - 76px);
  }

  @media (max-width: 768px) {
    padding-top: 0;
  }
}

